# (can be 0 or 1) if set, shows a notification on startup if a new version of sioyek is available
check_for_updates_on_startup	1

# The color with which the screen is cleared before rendering the pdf
background_color    1.0 1.0 1.0
dark_mode_background_color    0.0 0.0 0.0


super_fast_search 1
# Showing full white text on black background can be irritating for the eye, we can dim the whites a little bit using the contrast option
dark_mode_contrast			0.8
text_highlight_color    0.4 0.4 0.4
vertical_line_color    0.0 0.0 0.0 0.1
search_highlight_color  0.0 1.0 0.0
link_highlight_color    0.0 0.0 1.0

search_url_s	https://scholar.google.com/scholar?q=
search_url_l	http://gen.lib.rus.ec/scimag/?q=
search_url_g	https://www.google.com/search?q=

text_summary_url http://127.0.0.1:5000

use_heuristic_if_text_summary_not_available 1
text_summary_should_refine 1
text_summary_should_fill 1
text_summary_context_size 40
fastread_opacity 0.3

middle_click_search_engine			s
shift_middle_click_search_engine	l

# The factor by which we increase/decrease zoom when performing zoom_in or zoom_out
zoom_inc_factor         1.2

# How many inches we move vertically/horizontally when performing move_* commands
vertical_move_amount    1.0
horizontal_move_amount    1.0

# When performing screen_down/screen_up we usually don't move a full screen because it causes the user to lose context
# Here we specify the fraction of the screen width by which we move when performing these commands
move_screen_ratio      0.5
flat_toc                            0
should_use_multiple_monitors        0
should_load_tutorial_when_no_other_file	1
should_launch_new_window				1

visual_mark_next_page_fraction	0.25
should_draw_unrendered_pages	0

hover_overview	0
rerender_overview 0
default_dark_mode	0
sort_bookmarks_by_location	1
startup_commands    toggle_custom_color; toggle_visual_scroll
wheel_zoom_on_cursor 0

fit_to_page_width_ratio 0.75
collapsed_toc 0
ruler_mode 0

# Additional ruler padding
#ruler_padding 1.5

# A directory which sioyek watches for new papers. If a new paper added to this directory
# while we are creating a portal from another document, this new document will automatically
# be used as the destination of the portal.
#paper_folder_path /some/path

# Enable some experimental features, might not be stable
enable_experimental_features 1

# Automatically create a table of contents for the document if it doesn't already have one
create_table_of_contents_if_not_exists 1

## Limits the maximum size of created table of contents
#max_created_toc_size 5000

# Warn the user on the command line only when redefining keys inside
# the same file. When set to 1, sioyek will warn when redefining keys
# from other files also
should_warn_about_user_key_override 1

# Use double clicks to select entire words and single clicks for character-based selection
single_click_selects_words 0

custom_background_color #f9f5d7
page_separator_color    #f9f5d7
status_bar_color        #f9f5d7
background_color        #f9f5d7
custom_color_mode_empty_background_color        #f9f5d7


# ui_background_color     #fbf1c7
ui_background_color     #c14a4a

search_highlight_color  #b47109
visual_mark_color 0.65882355 0.6 0.5176471 0.2
link_highlight_color #45707a
synctex_highlight_color #c14a4a


# I want my black text
custom_text_color #000000
status_bar_text_color #000000
ui_selected_text_color #000000


text_highlight_color #c35e0a
ui_selected_background_color  #eee0b7
ui_text_color   #f9f5d7


highlight_color_a	  #45707a

new_command _translate_selected_text python -m sioyek.translate "%{sioyek_path}" "%{selected_text}"
new_command _add_red_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}" fontsize=5 text_color=255,0,0
